body{
    background-image: linear-gradient(to right, #afce52, #9c07a7);
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
/* styling headings */
h1{
    color: rgb(28, 33, 49);
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
}
h2{
    color: rgb(78, 13, 127);
    font-family: 'Smooch Sans', cursive;
    font-weight: 700;
}
h4{
    border-style: outset;
    border-width: 5px;
    border-color:rgb(55, 3, 37);
    border-radius: 10px;
    padding: 10px;
    text-align:justify;
    font-weight: normal;
}
/* styling ordered list */
ol{
    list-style-type:upper-alpha;
    padding: 20px;
    border: 8px solid rgb(44, 5, 59);
    border-style: groove;
    border-radius: 8px;
    border-width: 5px;
    padding-left: 50px;    
}
/* Table design */
table{
    width: 60%;
    border-color: rgb(11, 88, 113);
    border-width: 4px;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
}
/* Header styling */
th{
    background-color: blueviolet;
    color: rgb(31, 21, 69);
    padding: 10px;
}
/* Cell Styling */
td{
    border: 1px solid grey;
    padding: 10px;
    text-align: center;
}
/* Row Hover effect */
tr:hover {
    background-color: lightgray;
    cursor:pointer ;
    transition: 0.8s;
}
/* Cell Hover effect*/
td:hover {
    background-color:yellowgreen;
    transition: 0.8s;
}
/* styling unordered list */
ul{
   list-style-type:circle;
    padding: 20px;
    border: 8px solid rgb(44, 5, 59);
    border-style: groove;
    border-radius: 8px;
    border-width: 5px;
    padding-left: 50px;
}
 img{
    display: inline-block;
    gap: 10px;
    border: 4px;
    border-radius: 8px;
    border-color: blueviolet;
    border-style: solid;
    }
    /* styling links */
a {
    text-decoration: none;
    display: block;
   margin: 20px;
    padding: 10px 15px;
    background-color: blue;
    color: white;
    border-radius: 6px;
    border   : 2px solid black;
    margin-bottom: 12px;
    width: 120px;
    text-align: center;
    /* hover effect on links */
}
a:hover {
    background-color: red !important;
    border: 5px solid lightskyblue;
    transition: 0.8s;
}

    







    
    


